body {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
}

main {
    display: flex;
    flex-direction: row ;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}
aside p {
    color: red;
}

h1, h2, h3 {
    background-color: brown;
}

p {
    color: darkred;
}

table {
    color:darkgreen;
}